html{
  min-width: 350px;
}

body{
    background-color: rgb(48, 48, 48);
}

main{
  margin-top: 5%;
}

/*Nuova gestione cambio pagine*/
.pagina {
  display: none;
  max-width: 800px;
  margin-top: 70px;
  color: white;
}

.attiva {
  display: block;
}

/*TODO: aggiustare l'ampiezza*/
#questionImage {
  max-height: 400px;
  height: auto;
  width: auto;
}



#quizFinale {
    max-width: 400px;
  }

/* Rifinimento della schermata quando raggiunge una dimensione non supportata */
@media only screen and (max-width: 272px) {

}