html{
  min-width: 350px;
}

body{
    background-color: rgb(48, 48, 48);
}

main{
  margin-top: 5%;
}

.list-group-item{
  background-color: rgb(48, 48, 48) !important;
  color: white !important;
}
/*Nuova gestione cambio pagine*/
.pagina {
  display: none;
  padding: 50px;
  text-align: center;
  color: white;
}

.attiva {
  display: block;
}

/* Rifinimento della schermata quando raggiunge una dimensione non supportata */
@media only screen and (max-width: 272px) {
  main{
    margin-top: 70px;
  }
}